/* Toggle switch container */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

/* Hide default checkbox input */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Rounded slider handle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the checkbox is checked, move the slider to the right */
input:checked + .slider {
  background-color: #2196f3;
}

/* When the checkbox is checked, move the slider handle to the right */
input:checked + .slider:before {
  transform: translateX(26px);
}

.hidden {
  display: none;
}

img {
  height: 50px;
  width: 50px;
}
